@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 100 2% 95%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 120 62% 44%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 120 62% 44%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 300 2% 12%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 120 62% 44%;
        --primary-foreground: 144.9 80.4% 10%;
        --secondary: 120 1% 20%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 120 1% 20%;
        --input: 120 1% 20%;
        --ring: 142.4 71.8% 29.2%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .max-container {
        @apply mx-auto w-[1240px] max-w-full px-4;
    }

    h1 {
        @apply select-none text-[24px] font-semibold leading-[26px] tracking-[-0.93px] sm:text-[40px] sm:leading-[56px];
    }

    h2 {
        @apply select-none text-[2rem] font-semibold leading-[24px] tracking-[-0.79px] sm:text-[2rem] sm:leading-[40px];
    }

    h3 {
        @apply select-none text-[20px] font-semibold leading-[22px] tracking-[-0.47px] sm:text-[24px] sm:leading-[32px];
    }

    h4 {
        @apply select-none text-[18px] font-semibold leading-[20px] tracking-[-0.47px] sm:text-[20px] sm:leading-[24px];
    }

    p {
        @apply select-none text-[12px] font-normal leading-[20px] sm:text-[14.56px] sm:leading-[24px];
    }

    .brand {
        @apply bg-gradient-to-r from-[#72ed72] via-[#dad835] to-[#d8d330] bg-clip-text text-transparent;
    }
}

.image-container {
    width: 100%;
}

.image-container > div {
    position: unset !important;
}

.image-container .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

/*
background: rgb(114,237,114);
background: linear-gradient(90deg, rgba(114,237,114,1) 0%, rgba(218,216,53,1) 48%, rgba(216,211,48,1) 100%); */

/* #2AB42A */

/* rgb(42,180,42) */
